@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --fColor:#00FFFD;
    --lColor:#003333;    
    --higColor:#C3FFFD;
    --counter-Color:#FFD7C2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 2rem;
    font-family: "Inter", sans-serif;
}

section{
    padding: 1rem;
    background:var(--higColor); 
    margin: .1rem;
    border-radius: .5rem;
    border: 1px solid var(--lColor);
    transition: all .9ms;
    max-width: 100%;
}

section:hover{
    background: var(--counter-Color);
    transform: scale(1.01);
}

section p{
    margin: .5rem 0 0 2rem;

}

.wireframe div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

footer{
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width:700px) {
    .wireframe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 16px 1fr;
    }
    
    .wireframe h2{
        grid-row: 1;
    }

    .wireframe div{
        grid-row: 2;
    }
}